@import '../../styles/index.scss';

@media screen and (min-width: 320px) {
  .button {
    background: transparent;
    border: 1px solid $color-white;
    border-radius: 6px;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    padding: 14px 0 14px 0;
    width: 130px;
    cursor: pointer;

    &__text {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: $color-white;
      text-transform: uppercase;
    }
  }

  .button:hover,
  .button:focus {
    outline: none;
    border: 1px solid $accent-color;
    background-color: $accent-color;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}
