@import '../../styles/index.scss';

@media screen and (min-width: 320px) {
  .logo {
    &__icon {
      width: 24px;
      height: 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;

    &__icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    &__text {
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      color: $color-white;
    }
  }
}
