.library {
  &-movie-gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
      justify-content: space-between;
    }

    @media screen and (min-width: $tablet) {
      padding-top: 60px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 60px;
    }
  }

  &-movie-item {
    width: 280px;
    // height: 440px;
    margin-bottom: 20px;
    border-radius: 5px;

    @media screen and (min-width: $tablet) {
      width: 294px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
      width: 274px;

      &:not(:nth-child(3n + 3)) {
        margin-right: 30px;
      }
    }
  }
}

.alert-mesage {
  padding-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.333;
  text-align: center;
  text-transform: uppercase;
  color: $color-alert-message;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
  }
}
