@media screen and (min-width: 320px) {
  .gallery {
    &__list {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    &__list {
      padding: 60px 0;
      flex-direction: row;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
}
