@import '../../styles/index.scss';

@media screen and (min-width: 320px) {
  .footer {
    padding: 30px 0;
    background-color: $color-dark-white;

    &__content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $color-gray;

      &--orange {
        color: $accent-color;
      }
    }

    &__text:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__content-wrapper {
      flex-direction: row;
      justify-content: center;
    }

    &__text:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
