@import '../../styles/index.scss';

@media screen and (min-width: 320px) {
  .header-form {
    padding: 12.5px 0 12.5px 0;
    position: relative;

    &__input {
      width: 100%;
      height: 20px;
      border: none;
      border-bottom: 1px solid $color-light-gray;
      background: transparent;
      color: $color-white;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    &__input:focus {
      outline: none;
      border-bottom: 1px solid $color-white;
    }

    &__icon {
      position: absolute;
      width: 12px;
      height: 12px;
      top: 18px;
      right: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
  .form-wrapper {
    display: flex;
    justify-content: center;
  }
  .header-form {
    position: relative;
    width: 336px;
  }
}
