.container {
  padding: 0 20px;
  width: 100%;

  @media screen and (min-width: 320px) {
    margin: 0 auto;
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    padding: 0 75px;
    width: 768px;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 70px;
    width: 1024px;
  }
}
