$main-font: 'Roboto', sans-serif;

$accent-color: #ff6b01;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-white: #f7f7f7;
$color-gray: #545454;
$color-light-gray: #8c8c8c;
$color-alert-message: #ff001b;
